.content-navigation {
  height: 100%;
  width: 100px;
  background: #162451;
  border-radius: 0 18px 18px 0;

  .sidebar {
    height: 100%;
    width: 100%;
  }
  .app-logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 32px;
    width: 32px;
  }

  .items {
    margin: 0;
    padding: 0;
    .item {
      height: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .active {
      background-color: #ca352b;
    }
  }
}
